@media (max-width: 1200px) {
    .container {
        width: 1000px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .beginning-title-text h2 {
        font-size: 50px;
    }
    .beginning-title-image-text {
        height: 450px;
    }
    .about-us-text p {
        width: 100%;
        font-size: 35px;
    }
    .project-card-wrapper p {
        font-size: 25px;
    }

    .project-card-1 img{
        width: 100%;
    }
    .project-card-2 img{
        width: 100%;
    }
    .project-card-3 img{
        width: 100%;
    }
    .services-card {
        width: calc(50% - 30px);
    }
}

@media (max-width: 1024px) {
    .container {
        width: 850px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .beginning-title-text h2 {
        font-size: 40px;
    }
    .beginning-title-image-text {
        height: 400px;
    }
    .about-us-text p {
        width: 100%;
        font-size: 20px;
        line-height: 35px;
    }
    .services-card {
        width: calc(50% - 25px);
    }
    .services-card img {
        height: 270px;
    }
    a.phone {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
    }
    a.mail {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
    }
}
@media (max-width: 850px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .project-card img {
        height: 350px;
    }
    .services-card {
        width: calc(50% - 10px);
    }
    .services-card img {
        height: 250px;
    }
    .lable h3 {
        font-size: 20px;
    }
    .services-card p {
        font-size: 20px;
    }
    .popup__container {
        width: 500px;
    }
    h2.popup__title {
        margin-bottom: 10px;
        font-size: 35px;
        text-align: center;
    }
    p.popup__subtitle {
        font-size: 18px;
        text-align: center;
    }
    h2.gallery__title {
        font-size: 20px;
    }
    .gallery__controls-btn {
        position: absolute;
        top: 50%;
    }
    .gallery__controls-btn > .container {
        display: flex;
        justify-content: space-between;
    }
    .gallery__text p {
        font-size: 25px;
        line-height: 36.98px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    main.main {
        margin-bottom: 120px;
    }
    .beginning-title-text h2 {
        font-size: 35px;
    }
    .beginning-title-image-text {
        height: 350px;
    }
    .about-us-text p {
        width: 100%;
        font-size: 25px;
        line-height: 45px;
    }
    .project-card img {
        height: 330px;
    }
    .services-card {
        width: 100%;
    }
    .lable {
        top: 22px;
        left: 25px;
    }
    .lable h3 {
        font-size: 16px;
    }
    .feedback__row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .feedback__column {
        display: flex;
        flex-direction: column;
        width: calc(50% - 5px);
    }
    .feedback__column h2 {
        font-size: 35px;
    }
    .feedback__column p {
        font-size: 20px;
    }
    p.contact-phone > a:before {
        content: '';
        position: absolute;
        top: -80%;
    }
    p.contact-mail > a:before {
        content: '';
        position: absolute;
        top: -80%;
    }
    a.phone {
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
    }
    a.mail {
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-beginning-title {
        margin-bottom: 80px;
    }
    .beginning-title-text h2 {
        font-size: 35px;
    }
    .image-text {
        width: 80%;
        bottom: 30px;
        left: 20px;
        font-size: 20px;
        line-height: 24px;
    }
    .beginning-title-image-text {
        height: 300px;
    }
    .main-about-us {
        margin-bottom: 120px;
    }
    .about-us-text p {
        width: 100%;
        font-size: 25px;
        line-height: 45px;
    }
    .project-card img {
        height: 300px;
    }
    .project-card-wrapper p {
        font-size: 20px;
    }
    .project-card-wrapper a {
        font-size: 18px;
    }
    .projects-btn a {
        font-size: 24px;
        line-height: 20px;
    }
    .services-card p {
        font-size: 25px;
    }
    .services-card img {
        height: 280px;
    }
    .popup__container {
        width: 450px;
    }
    h2.popup__title {
        margin-bottom: 10px;
        font-size: 35px;
        text-align: center;
    }
    p.popup__subtitle {
        font-size: 18px;
        text-align: center;
    }
    .input {
        font-size: 20px;
    }
    .input::placeholder {
        font-size: 20px;
    }
    .feedback__row {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    .feedback__column {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .feedback__column p {
        font-size: 20px;
    }
    h2.gallery__title {
        font-size: 18px;
    }
    .gallery__text p {
        font-size: 22px;
        line-height: 32px;
    }
    a.phone {
        font-size: 28px;
        font-weight: 400;
        line-height: 35px;
    }
    a.mail {
        font-size: 28px;
        font-weight: 400;
        line-height: 35px;
    }
    footer.footer {
        padding-top: 30px;
    }
    .footer__nav-wrapper {
        gap: 41px;
    }
    a.footer__nav_link {
        margin-right: 40px;
        font-size: 18px;
    }
    p.footer_text {
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    main.main {
        margin-bottom: 40px;
    }
    .main-beginning-title {
        margin-bottom: 60px;
    }
    .beginning-title-text h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .image-text {
        width: 80%;
        bottom: 30px;
        left: 20px;
        font-size: 18px;
        line-height: 20px;
    }
    .beginning-title-image-text {
        height: 250px;
    }
    .main-about-us {
        margin-bottom: 80px;
    }
    .about-us-text p {
        width: 100%;
        font-size: 25px;
        line-height: 40px;
    }
    .about-us-btn a {
        font-size: 20px;
        line-height: 27.32px;
    }
    .main-projects {
        margin-bottom: 80px;
    }
    .project-card img {
        height: 200px;
    }
    .projects-btn a {
        padding: 40px 40px; 
    }
    .lable h3 {
        font-size: 14px;
    }
    .services {
        margin-bottom: 70px;
    }
    .services-card img {
        height: 230px;
    }
    .services__btn button {
        padding: 37px 0;
    }
    .popup__container {
        width: 90%;
    }
    h2.popup__title {
        margin-bottom: 10px;
        font-size: 25px;
        text-align: center;
    }
    p.popup__subtitle {
        font-size: 16px;
        text-align: center;
    }
    .popup__inputs {
        margin-bottom: 0;
    }
    .btn-inside-popup > button {
        margin-bottom: 78px;
    }
    .popup__close-btn img {
        width: 30px;
        height: 30px;
    }
    .popup__input {
        padding-right: 0;
        padding-left: 0;
    }
    .input {
        font-size: 18px;
    }
    .input::placeholder {
        font-size: 18px;
    }
    section.feedback {
        margin-bottom: 80px;
    }
    .feedback__row {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .feedback__column h2 {
        font-size: 25px;
    }
    .feedback__column p {
        font-size: 18px;
    }
    section.gallery-section {
        margin-bottom: 80px;
    }
    button.gallery__control-prev {
        font-size: 50px;
    }
    button.gallery__control-next {
        font-size: 50px;
    }
    .feedback__row {
        gap: 15px;
    }
    .contact-wrapper {
        display: block;
    }
    .contacts-content {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    p.contact-phone {
        margin-bottom: 58px;
        position: relative;
    }
    .footer__nav-wrapper {
        gap: 41px;
    }
    a.footer__nav_link {
        margin-right: 30px;
        font-size: 14px;
    }
    p.footer_text {
        font-size: 16px;
        padding: 20px 0;
    }
}
@media (max-width: 400px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-beginning-title {
        margin-bottom: 60px;
    }
    .beginning-title-text h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .about-us-text p {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }
    .about-us-btn a {
        padding: 15px 20px;
        font-size: 18px;
        line-height: 25px;
    }
    .main-projects {
        margin-bottom: 80px;
    }
    .services-card-wrapper {
        margin-bottom: 60px;
    }
    .project-card {
        margin-bottom: 60px;
    }
    .project-card-wrapper p {
        font-size: 16px;
    }
    .project-card-wrapper a {
        font-size: 18px;
    }
    .project-card img {
        height: 180px;
    }
    .projects-btn a {
        padding: 30px 40px; 
        font-size: 20px;
        line-height: 18px;
    }
    .services-card img {
        height: 200px;
    }
    .services-card p {
        font-size: 20px;
    }
    .services__btn button {
        font-size: 25px;
    }
    .popup__container {
        min-height: 650px;
        max-height: 100%;
    }
    .input {
        padding-top: 40px;
        line-height: 30px;
    }
    .input::placeholder {
        font-size: 18px;
    }
    h2.gallery__title {
        font-size: 18px;
    }
    button.gallery__control-prev {
        font-size: 40px;
    }
    button.gallery__control-next {
        font-size: 40px;
    }
    .feedback__row {
        gap: 10px;
    }
    .gallery__text p {
        font-size: 18px;
        line-height: 24px;
    }
    p.contact-phone > a:before {
        content: '';
        position: absolute;
        display: block;
        top: -130%;
    }
    p.contact-mail > a:before {
        content: '';
        position: absolute;
        display: block;
        top: -130%;
    }
    a.phone {
        font-size: 22px;
        font-weight: 400;
        line-height: 25px;
    }
    a.mail {
        font-size: 22px;
        font-weight: 400;
        line-height: 25px;
    }
    a.footer__nav_link {
        margin-right: 20px;
        font-size: 12px;
    }
    p.footer_text {
        font-size: 12px;
        padding: 0;
    }
}
@media (max-width: 320px) {
    .container {
        width: 100%;
    }
    .image-text {
        width: 80%;
        bottom: 25px;
        left: 15px;
        font-size: 16px;
        line-height: 20px;
    }
    .about-us-text h3 {
        font-size: 20px;
    }
    .about-us-text p {
        font-size: 20px;
        line-height: 30px;
    }
    .main-projects {
        margin-bottom: 50px;
    }
    .projects-title h3 {
        font-size: 20px;
    }
    .project-card img {
        height: 150px;
    }
    .project-card-wrapper p {
        font-size: 18px;
    }
    .projects-btn a {
        padding: 30px 5px; 
        font-size: 18px;
        line-height: 16px;
    }
    .services {
        padding-top: 80px;
    }
    .services-title {
        font-size: 20px;
    }
    .services-card img {
        height: 150px;
    }
    .services-card p {
        font-size: 18px;
    }
    .services__btn button {
        padding: 25px 0;
        font-size: 20px;
    }
    .feedback__row {
        gap: 5px;
    }
    .feedback__column h2 {
        font-size: 20px;
    }
    .feedback__column p {
        font-size: 16px;
    }
    h2.gallery__title {
        font-size: 18px;
    }
    button.gallery__control-prev {
        font-size: 40px;
    }
    button.gallery__control-next {
        font-size: 40px;
    }
    .gallery__text {
        position: absolute;
        bottom: 60px;
    }
}