html {
   scroll-behavior: smooth;
}
body {
   font-family: 'Manrope', Courier, monospace;
}
.container {
   max-width: 1150px;
   margin: 0 auto;
   box-sizing: border-box;
}

.header {
   padding-top: 32.82px;
   padding-bottom: 70px;
}
.header__nav-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
/* .header__nav_links {} */
.header__nav_link {
   margin-right: 60px;
   font-size: 18px;
   font-weight: 400;
   line-height: 24.59px;
   letter-spacing: -0.8px;
   color: #121212;
}
.header__nav_link:hover,
.header__nav_link_active {
   border-bottom: 1px solid rgb(150, 150, 150);
   color: rgb(150, 150, 150);
}
.header__nav_link:last-child {
   margin-right: 0;
}


.main-beginning-title {
   margin-bottom: 120px;
}
.beginning-title-text {
   margin-bottom: 30px;
}
.beginning-title-text h2 {
   font-weight: 400;
   font-size: 60px;
   line-height: 60px;
}
.beginning-title-image-text {
   position: relative;
   height: 500px;
   width: 100%;
   background: url('https://images.unsplash.com/photo-1631651309396-b1b9cc10a66c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   background-repeat: no-repeat;
   background-position-y: 40%;
   background-size: cover;
}
.image-text {
   position: absolute;
   bottom: 40px;
   left: 40px;
   width: 430px;
   font-size: 25px;
   line-height: 27.32px;
   letter-spacing: -0.03em;
   color: #fff;
}

.main-about-us {
   margin-bottom: 150px;
}
/* .about-us-text p {
} */
.about-us-text h3 {
   margin-bottom: 30px;
   text-transform: uppercase;
   font-size: 18px;
   line-height: 24.59px;
   letter-spacing: -0.03em;
}
.about-us-text p {
   width: 1048px;
   font-size: 45px;
   line-height: 61.47px;
   letter-spacing: -1.3px;
   color: #121212;
}

.about-us-btn a {
   display: inline-block;
   border-radius: 5px;
   margin-top: 30px;
   background-color: #AD1818;
   color: #fff;
   text-decoration: none;
   cursor: pointer;
   padding: 20px 40px;
   font-size: 20px;
   line-height: 27.32px;
   letter-spacing: -0.03em;
}


.main {
   margin-bottom: 150px;
}
.main-projects {
   margin-bottom: 150px;
}
.projects-title {
   margin-bottom: 30px;
}
.projects-title h3 {
   text-transform: uppercase;
   font-size: 18px;
   line-height: 24.59px;
   letter-spacing: -0.03em;
   color: #121212;
}
.project-card {
   margin-bottom: 90px;
}
.project-card img {
   width: 100%;
   margin-bottom: 15px;
}
.project-card-wrapper p {
   font-size: 30px;
   line-height: 40.98px;
   letter-spacing: -0.03em;
   margin-bottom: 15px;
}
.project-card-wrapper a {
   text-decoration: none;
   font-size: 20px;
   line-height: 20.32px;
   letter-spacing: -0.03em;
   color: #AD1818;
}
.projects-btn a {
   text-align: center;
   display: block;
   width: 100%;
   padding: 56px 0;
   font-size: 30px;
   line-height: 40.98px;
   letter-spacing: -0.03em;
   color: #AD1818;
   text-decoration: none;
   border-radius: 5px;
   border: 1px solid #AD1818;
}
.projects-btn a:hover {
   background-color: #AD1818;
   color: #fff;
}
.services {
   display: flex;
   flex-wrap: wrap;
   background-color: #121212;
   padding-top: 150px;
   padding-bottom: 24px;
   margin-bottom: 150px;
}
.services-title {
   margin-bottom: 34px;
}
.services-title h3 {
   text-transform: uppercase;
   font-size: 18px;
   line-height: 44.59px;
   letter-spacing: 0;
   color: #fff;
}
.services-card-wrapper {
   margin-bottom: 150px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.services-card {
   position: relative;
   width: calc(50% - 40px);
   margin-bottom: 85px;
}
.services-card img {
   width: 100%;
   height: 300px;
   margin-bottom: 25px;
   aspect-ratio: 1 / 1;
}
.lable {
   position: absolute;
   top: 30px;
   left: 30px;
}
.lable h3 {
   padding: 5px 21px;
   font-size: 22px;
   color: #fff;
   background-color: #AD1818;
}
.services-card p {
   font-size: 30px;
   line-height: 30.98px;
   letter-spacing: -0.8px;
   color: #fff;
}
.services__btn {
   width: 100%;
}
.services__btn button {
   width: 100%;
   padding: 56px 0;
   font-size: 30px;
   color: #fff;
   background-color: #AD1818;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

section.feedback {
   margin-bottom: 150px;
}
.feedback-wrapper {
   display: flex;
   flex-wrap: wrap;
}
.feedback__title {
   margin-bottom: 30px;
}
.feedback__title h3 {
   font-size: 18px;
   text-transform: uppercase;
}
.feedback__row {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
}
.feedback__column {
   display: flex;
   flex-direction: column;
   width: calc(50% - 20px);
   margin-bottom: 50px;
}
.feedback__column h2 {
   display: inline;
   margin-bottom: 14px;
   font-size: 45px;
}
.feedback__column p {
   font-size: 22px;
}
.feedback__column-large {
   width: calc(70% - 20px);
}

section.gallery-section {
   position: relative;
   margin-bottom: 150px;
}
.gallery-wrapper {
   position: relative;
}
h2.gallery__title {
   position: absolute;
   top: 67px;
   font-size: 22px;
   color: #fff;
   text-transform: uppercase;
   z-index: 5;
}
.gallery__slides {
   position: relative;
   height: 717px;
}
.gallery__slide {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
}
.gallery__slide_active {
   opacity: 1;
}
.slide {
   height: 100%;
}
.slide-1 {
   background: url('https://images.unsplash.com/photo-1653974123568-b5eff6d851e1?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   height: 717px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position-x: 50%;
   background-position-y: 100%;
}
.slide-2 {
   background: url('https://images.unsplash.com/photo-1653972233678-5d1c28d2a99f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   height: 717px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position-x: 50%;
   background-position-y: 100%;
}
.slide-3 {
   background: url('https://images.unsplash.com/photo-1678978866819-306ed8608e7f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   height: 717px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position-x: 50%;
   background-position-y: 100%;
}
.slide-4 {
   background: url('https://images.unsplash.com/photo-1507652313519-d4e9174996dd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   height: 717px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position-x: 50%;
   background-position-y: 100%;
}

.gallery__controls-btn {
   position: absolute;
   top: 500px;
   width: 100%;
}
button.gallery__control-prev {
   margin-right: 25px;
   color: hsl(0, 0%, 100%);
   cursor: pointer;
   border: none;
   font-size: 60px;
   background-color: #ffffff00;
}
button.gallery__control-next {
   cursor: pointer;
   border: none;
   font-size: 60px;
   color: hsl(0, 0%, 100%);
   background-color: #ffffff00;
}
.gallery__text {
   position: absolute;
   bottom: 60px;
}
.gallery__text p {
   font-size: 30px;
   line-height: 40.98px;
   color: #fff;
}

section.contacts {
   position: relative;
}
.contact-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.contact__title {
   margin-bottom: 74px;
}
.contact__title h2 {
   font-size: 18px;
   text-transform: uppercase;
}
.contacts-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
p.contact-phone {
   position: relative;
}
p.contact-phone > a:before {
   content: '';
   position: absolute;
   top: -50%;
   display: block;
   width: 24px;
   height: 24px;
   background: url('../1. Базовый HTML и CSS/other components/contact__phone.svg');
}
a.phone {
   color: #121212;
   font-size: 60px;
   font-weight: 400;
   line-height: 60px;
}
p.contact-mail {
   position: relative;
}
p.contact-mail > a:before {
   content: '';
   position: absolute;
   top: -50%;
   display: block;
   width: 24px;
   height: 24px;
   background: url('../1. Базовый HTML и CSS/other components/contact__mail.svg');
}
a.mail {
   color: #1212126c;
   font-size: 60px;
   font-weight: 400;
   line-height: 60px;
}
.phone:hover {
   color: rgb(150, 150, 150);
   border-bottom: 2px solid rgb(150, 150, 150);
}
.mail:hover {
   color: rgb(150, 150, 150);
   border-bottom: 2px solid rgb(150, 150, 150);
}

footer.footer {
   padding-top: 60px;
   padding-bottom: 30px;
   background-color: #121212;
}
/* .footer__nav-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
} */
.footer__nav_links {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 87px;
}
.footer__nav_link {
   color: #fff;
   font-size: 18px;
   font-weight: 400;
   line-height: 24.59px;
   letter-spacing: -0.03em;
   margin-right: 55px;
}
.footer__nav_link:hover,
.footer__nav_link_active {
   color: grey;
}
.footer__nav_link:last-child {
   margin-right: 0;
}
.footer__text-wrapper > p {
   font-size: 20px;
   font-weight: 400;
   line-height: 64.32px;
   letter-spacing: -0.03em;
   color: grey;
   text-align: center;
}
